<div class='container-fluid widget-body-container'>
    <div class='card shadow mb-5 bg-white rounded'>
        <div class='card-header'>
            <h4>Widget 2</h4>
        </div>
        <div class="card-body">
            <ul>
                <li>This widget can be used for displaying recent activity or notifications.</li>
                <li>Consider using a list or feed format to show updates in chronological order.</li>
                <li>Include timestamps and relevant icons for better visual appeal.</li>
            </ul>
        </div>
    </div>